@model MedicoMVC.Models.ViewModels.MedicoViewModel

@{
    ViewBag.Title = "Reactivar Medico";
    Layout = "_Layout";
}

<section>
    <div class="container">
        <h1>Desea Reactivar al medico: @Model.NombreCompleto</h1>
        <form asp-controller="medicoPrueba" asp-action="Reactivar" method="post">
            <input type="hidden" asp-for="MedicoId">
            <div class="row justify-content-start">
                <div class="col col-sm-5">
                    <button class="btn btn-outline-secondary" type="submit">Aceptar</button>
                    <a class="btn btn-outline-warning" asp-controller="MedicoPrueba" asp-action="MedicosEliminados">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</section>

