@model MedicoMVC.Models.ViewModels.MedicoViewModel

@{
    ViewBag.Title = "Agregar Medico";
    Layout = "_Layout";
}


<section>
    <div class="container">
        <h1>Agregar nuevo Medico</h1>
        <form asp-controller="Medico" asp-action="Crear" method="post">
            <partial name="_FormularioBase" model="Model">
        </form>
    </div>
</section>

@section Scripts {
    @{
        <partial name="_validationScriptsPartial" />
    }
}